.button, .linkButton, .iconButton {
  background: var(--button-bg-color);
  color: var(--button-color);
  border: 1px solid #666;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--button-hover-color);
  }
}

.button, .linkButton {
  padding: 8px 16px;
}

.iconButton {
  padding: 3px 8px;
}

.linkButton {
  text-decoration: none;
}