.footer {
  padding-block: 15px;
  text-align: center;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-color);
  width: 100%;
  margin: 0 auto;
}

.footer > a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: inherit;
  }
}