.header {
  display: flex;
  justify-content: center;
  padding-block: 15px;
  background-color: var(--card-bg-color);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-color);
  width: 100%;
  margin: 0 auto;
}

.header > div {
  max-width: var(--max-width);
}

.button {
  padding-bottom: 2px;

  &:hover {
    background-color: unset;
    color: var(--mantine-color-gray-9); 
    text-decoration: underline;
  }
}