.date {
  font-weight: 500;
}

.amount__expense {
  color: var(--red-color);
}

.amount__income {
  color: var(--green-color);
}

.actions {
  display: flex;
  gap: 15px;
}

.actions a,
.actions button {
  &:hover {
    color: var(--mantine-color-gray-9);
  }
}
