.date {
  font-weight: 500;
}

.amount {
  color: var(--mantine-color-red-7);
}

.actions {
  display: flex;
  gap: 5px;
}

.actions a,
.actions button {
  &:hover {
    color: var(--mantine-color-gray-9);
  }
}
